body {
    background-color: rgb(209, 180, 195);
    margin: 0;
    padding: 0;
}

h1 {
    color:  rgb(247, 242, 244);
    text-align: center;
    margin-top: 20px;
}

a:link {
    color: black;
}

a:hover {
    color: rgb(103, 21, 63);
}


.links-container {
    text-align: center;
    padding-top: 15%;
}

.links-container a {
    
    white-space: nowrap;
    margin: 5px;
}







