body {
    background-color: rgb(209, 180, 195);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change to column direction */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    color:  rgb(247, 242, 244);
    font-size: 1.5em; /* Adjusts the font size */
    margin-top: 20px; /* Adjusts the margin */
}

.post-container {
    display: flex;
    flex-direction: column; /* Ensure stacking elements vertically */
    align-items: center;
    padding: 20px;
}

.input-box {
    width: 500px; 
    height: 350px; 
    resize: none;
}

.upload-button {
    margin-top: 10px;
}

